* {}

header {
    padding: 2.4rem;
    background-color: rgb(255, 165, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/11/14/79/10/360_F_1114791057_0ykjBalhzltiH5qCSKdTEONboYZbaENE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cartao {
    flex-direction: column;
    display: flex;
    border: 1px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 0.6);
    padding: 20px;
    width: 500px;
}

.divh1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
    text-align: left;
    justify-content: left;
}